[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
[submodule "geo_data"]
	path = geo_data
	url = git@github.com:rbkmoney/image-columbus.git
	branch = master
